.admin_table tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem 0.7rem;
    background-color: white;
    height: fit-content;
    width: fit-content;
}

.admin_table table{
 display: flex;
 flex-direction: column;
 gap: 3px;
}

.admin_table .admin_table_options {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    gap: 20px;
}

.admin_table .admin_table_options .table_options_icons {
    font-size: 30px;
    color: black;
}

.admin_table .admin_table_options .table_options_icons:hover {
    color: #115E83;
}

.admin_table .admin_table_header {
    background: #FFFFFF;
    padding: 0.2rem 0.7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.admin_table_row {
    background-color: white;
    transition: background-color 200ms ease-in-out;
}

.admin_table_row .table_icon {
    width: 40px;
    margin: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.admin_table_row .table_row_icon {
    width: 20px;
    margin: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.admin_table_row .table_icon *{
    font-size: 30px;
}

.admin_table_row .table_longText {
    width: 150px;
}


.admin_table_row .table_shortText {
    width: 55px;
}

.admin_table_row .table_img {
    width: 6rem;
}

.admin_table_row .table_img img{
    width: 6.5rem;
    height:10.3rem;
    background-color: lightgray;
}

.admin_table .table_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}

.admin_table .table_button button {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.admin_table .table_button button:hover {
    color: #115E83;
}

.admin_table .table_button p {
    font-size: 25px;
    margin: 0;
}


.admin_table .table_button svg {
    font-size: 30px;
}


