.button {
    width: 250px;
    height: 80px;
    font-family: 'League Gothic', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background-button);
    color: white!important;
    border-radius: 15px;
    transition: .3s ease-in-out all;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}