.dacris__productCard {
    width: fit-content;
    height: 85%;
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px;
    position: relative;
    margin: 0px 15px;
    transition: .3s;
}

.dacris__productCard:hover {
    transform: scale(1.1);
}

.dacris__productCard-image {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}

.dacris__productCard-info {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.dacris__productCard-info-name {
    font-family: var(--font-family1);
    font-size: 30px;
    margin-bottom: 0;
}

.dacris__productCard-info-price {
    font-family: var(--font-family1);
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    .dacris__productCard {
        padding: 5px 10px;
        border-radius: 15px;
    }
    
    .dacris__productCard-image {
        width: 110px;
        height: 110px;
        border-radius: 15px;
    }
    
    .dacris__productCard-info-name {
        font-size: 25px;
    }
    
    .dacris__productCard-info-price {
        font-size: 25px;
    }
}

@media screen and (max-width: 1400px) {
    
}