.sales * {
    text-shadow: none;
    color: black;
}

.sales nav {
    width: 100vw;
}

.sales {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}


.sales .title {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Playlist Script';
    font-size: 50px;
    text-shadow: none;
}


.sales .title img{
    width: 70px;
}

.sales .sales_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: white;
}

.sales .container_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 50px 0 50px;
}

.sales .container_info .info_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin-bottom: 30px;
}

.sales .container_info .info_text p{
    text-align: center;
} 


.sales .sales_container p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.sales .sales_container .image {
    width: 350px;
    padding-bottom: 40px;
    margin-top: 10px;
}

.sales .sales_container .round {
    border-radius: 25px;
    border: 2px solid #F6A8C3;
}

.sales .sales_container .imageline {
    width: 70px;

}