.footerR {
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.footerR .row{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.footerR a, li, ul{
    text-decoration: none;
    list-style-type: none;

}
