.admin_checkButton{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 0.3rem;
    border: 0.1rem solid #DCDCDC;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.479);
    transition: background-color 200ms ease-in-out;
}
