* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #D6ECFA;
    opacity: 1;
    background-image: radial-gradient(#FFFFFF 8px, transparent 2px), radial-gradient(#FFFFFF 8px, #D6ECFA 2px);
    background-size: 80px;
    background-position: 0 0, 40px 40px;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}